.container {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: auto;
}

.search-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin: 10px 0;
    height: 35px;
}

.search-container button {
    cursor: pointer;
}

.text-input {
    width: 80%;
}

.todo-item {
    padding: 5px 10px;
    justify-content: space-between;
    display: flex;
    background: aliceblue;
}

.delete-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.text {
    cursor: pointer;
    width: 100%;
}

.completed {
    text-decoration: line-through;
}